section#portfolio{
    background:#2e2d2d;;
    color: #fff;
}
.portfolio-item-container{
    max-width: 1920px;
    display: block;
    height: max-content;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 90px 10px 0 10px;
    .title{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        font-size: 2rem;
    }
    .line-container .line{
        background: #fff;
    }
    .projects-tab{
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
        margin: 30px 0 0 0;
        background-color: rgb(34, 31, 31);
       &>div{
           padding:12px 0 15px 0;
           width: 33.33%;
           text-transform: uppercase;
           font-size: 1rem;
           text-align: center;
           letter-spacing: 2px;
           border-bottom: 4px solid rgb(124, 121, 121);
           cursor: pointer;


       }
       div.active{
           border-bottom: 4px solid #0ff;
       }
    }
}
.portfolio_items_wrapper{
    background: #585353;
    position: relative;
    padding-top: 50px;

    .frontend_items_wrapper,.fullstack_items_wrapper,.graphics_design_items_wrapper{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 50px;
        & > div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
   
    }

    .frontend_items_wrapper{
        position: absolute;
        display: flex;
    }
    .fullstack_items_wrapper{
        position: absolute;
        display: none;
    }
    .graphics_design_items_wrapper{
        position: absolute;
        display: none;
    }

    .portfolio-item{
        height: 300px;
        width: 400px;
        margin: 20px;
    
        &:hover{
            cursor: pointer;
            transform: scale(1.05) !important;
        }
    
        img{
            width: 100%;
            height: 100%;
           
        }
    }
}


.modal-container{
    .modal{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0009;
        z-index: 9999999;
        display: none;
        justify-content: center;
        align-items: center;
        .modal-content{
            width: 50%;
            height: 70%;
           
            header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 10%;
                background-color: white;
                .close-modal{
                    
                    color: white;
                    height: 100%;
                    font-size: 30px;
                    padding: 0px 20px;
                    background-color: red;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover{
                        text-shadow: 0px 0px 20px red;
                        cursor: pointer;
                    }
                        
                }
                
                .live{
                    background-color: rgb(19, 226, 29);
                    color: black;
                    margin-left: 90px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        padding: 10px 20px;
                        color: #000;
                        letter-spacing: 2px;
                        list-style: none;
                        text-decoration: none;
                        font-size: 20px;
                    }
                }

                i{
                    font-size: 40px;
                    color: black;
                }
              
            }
            img{
                width: 100%;
                height:75%;
            }
            .description{
                margin-top: -8px;
                padding-top: 20px;
                color: black;
                width: 100%;
                background-color: rgb(255, 251, 251);
                text-align: center;
                height: auto;
                font-size: 20px;
                p{
                    color: rgb(5, 5, 5);
                    background: #ddd;
                    font-size: 20px;
                    padding: 5px 0;
                    margin-bottom: 20px;
                }
                .tech-used{
                    display: flex;
                    font-size: 20px;
                    margin-left: 50px;
                    justify-content: space-evenly;
                   
                    p{
                        color: black;
                        font-size: 20px;
                        background: none;
                    }
                    div{
                        width: 90px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 16px;
                        text-align: center;
                        background-color:#ddd;
                        color: #000;
                        
                    }
                }
                
            }
        }
    }
    .graphics-design{
        .modal-content{
            width: 60%;
            height: 90%;
            
            header{
                height: 10%;
                justify-content: flex-end;
                .close-modal{
                    font-size: 30px;
                }
              
            }
          
         
            img{
                height: 90%;
            }

        }
       
    }
}

@media(max-width:1200px){
    .modal-container{
        .modal{
            .modal-content{
                img{
                    height: 50%;
                }
                width: 90%;
            }

        }
    }
    
}