@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap");
nav {
  background-color: transparent;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .logo {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-left: 40px;
}

nav .logo .brand-name {
  letter-spacing: 3px;
  font-family: 'Red Rose', cursive;
}

nav .logo img {
  margin-left: 10px;
  -webkit-filter: saturate(10);
          filter: saturate(10);
  -webkit-animation: rotation 15s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

nav .nav-links li a:hover {
  color: #0ff;
}

nav .nav-links li.active a {
  border-bottom: 3px solid #fff;
}

nav .burger {
  position: absolute;
  right: 0;
  margin-right: 30px;
  display: none;
}

nav .burger li {
  background-color: #fff;
  margin: 10px 5px;
  list-style: none;
  width: 40px;
  height: 1px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px #000;
          box-shadow: inset 0 0 3px #000;
}

::-webkit-scrollbar-thumb {
  background: #8d8d8d;
}

.wallpaper {
  background-image: url(../images/Dragons_Wings_Black_and_white_532218_1366x768.jpg);
  max-width: 1920px;
  margin: auto;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wallpaper::after {
  position: absolute;
  content: '';
  height: 100vh;
  right: 0;
  left: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
}

.main_content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  color: white;
  top: 20px;
  z-index: 1;
}

.main_content .left-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-position: center;
  background-size: cover;
  width: 40%;
}

.main_content .left-wrapper img {
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  margin-top: 30px;
  height: 300px;
  width: 300px;
  border: 10px solid white;
  border-radius: 100%;
}

.main_content .left-wrapper .social-media-icons {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main_content .left-wrapper .social-media-icons a {
  color: #fff;
  font-size: 30px;
  border: 1px solid white;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.main_content .left-wrapper .social-media-icons a:hover {
  background-color: red;
}

.main_content .right-wrapper {
  padding: 30px 0px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_content .right-wrapper .name {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  font-family: 'Red Rose', cursive;
  color: #0ff;
  text-align: center;
  font-size: 50px;
}

.main_content .right-wrapper .name span {
  font-family: 'Red Rose', cursive;
  color: #fff;
}

.main_content .right-wrapper .title {
  color: #fff;
  text-align: center;
  font-size: 50px;
  margin: 50px 0px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  text-shadow: 0px 0px 100px #0ff;
}

.main_content .right-wrapper .title i {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  font-size: 70px;
  color: #fff;
  text-shadow: 0 0 3px #fff;
}

.main_content .right-wrapper .title i:hover {
  text-shadow: 0px 0px 50px #fff;
  cursor: pointer;
}

.main_content .right-wrapper .description {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  width: 100%;
  text-align: justify;
  letter-spacing: 2px;
  font-size: 20px;
}

.main_content .right-wrapper .description::before {
  content: open-quote;
  font-size: 60px;
  font-family: serif;
  position: absolute;
  margin-left: -40px;
  margin-top: -25px;
}

@media (max-width: 1125px) {
  .wallpaper {
    height: 1080px;
  }
  .wallpaper::after {
    height: 1080px;
  }
  .main_content .left-wrapper {
    width: 100%;
  }
  .main_content .left-wrapper img {
    width: 200px;
    height: 200px;
    border: 10px solid white;
  }
  .main_content .right-wrapper {
    width: 100%;
  }
  .main_content .right-wrapper .description {
    padding: 10px 50px;
    font-size: 16px;
  }
  nav .logo {
    font-size: 18px;
    position: absolute;
    left: 0;
  }
  nav .burger {
    display: block;
  }
  nav .burger-animate li:nth-child(1) {
    -webkit-transform: rotate(60deg) translate(2px, 6px);
            transform: rotate(60deg) translate(2px, 6px);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  nav .burger-animate li:nth-child(2) {
    display: none;
  }
  nav .burger-animate li:nth-child(3) {
    -webkit-transform: rotate(-60deg) translate(2px, -6px);
            transform: rotate(-60deg) translate(2px, -6px);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
  }
  nav .nav-links {
    display: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 90px;
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
    background-color: #000;
    position: absolute;
    z-index: 9;
    width: 50%;
    height: 100vh;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    padding-bottom: 90px;
  }
  nav .nav-links li {
    text-align: center;
    border: none;
  }
  nav .nav-links a {
    color: white;
  }
  nav .nav-links-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
}

section#skills {
  color: #fff;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #0c0c0c;
  padding: 90px 10px 0 10px;
}

section#skills .line {
  background: #fff;
}

section#skills .title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

section#skills .skills-tab {
  background: #221f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
}

section#skills .skills-tab div {
  width: 33.33%;
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  letter-spacing: 3px;
  border-bottom: 4px solid #7c7979;
  cursor: pointer;
}

section#skills .skills-tab div.active {
  border-bottom: 4px solid #0ff;
}

section#skills .skill-box {
  max-width: 1200px;
  width: 100%;
  height: 700px;
  margin: auto;
  margin-top: 30px;
  position: relative;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#skills .skill-box > div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-height: 600px;
}

section#skills .skill-box > div > div {
  width: 33.33% !important;
  margin: 20px auto;
}

section#skills .skill-box .backend-skills {
  display: none;
}

section#skills .skill-box .others-skills {
  display: none;
}

section#skills .skill-box .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 200px;
  text-align: center;
  margin: 25px 0;
}

section#skills .skill-box .item .desc {
  font-size: 20px;
}

section#skills .skill-box .item i {
  font-size: 70px;
  margin: 10px 0px;
}

section#skills .skill-box .item i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 768px) {
  .skill-box {
    padding: 90px 20px;
    font-size: 12px;
  }
  .skill-box .item {
    width: 100px;
  }
  .skill-box .item i {
    margin: 40px;
    font-size: 30px;
  }
}

section#portfolio {
  background: #2e2d2d;
  color: #fff;
}

.portfolio-item-container {
  max-width: 1920px;
  display: block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 90px 10px 0 10px;
}

.portfolio-item-container .title {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.portfolio-item-container .line-container .line {
  background: #fff;
}

.portfolio-item-container .projects-tab {
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  width: 100%;
  margin: 30px 0 0 0;
  background-color: #221f1f;
}

.portfolio-item-container .projects-tab > div {
  padding: 12px 0 15px 0;
  width: 33.33%;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 4px solid #7c7979;
  cursor: pointer;
}

.portfolio-item-container .projects-tab div.active {
  border-bottom: 4px solid #0ff;
}

.portfolio_items_wrapper {
  background: #585353;
  position: relative;
  padding-top: 50px;
}

.portfolio_items_wrapper .frontend_items_wrapper, .portfolio_items_wrapper .fullstack_items_wrapper, .portfolio_items_wrapper .graphics_design_items_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 50px;
}

.portfolio_items_wrapper .frontend_items_wrapper > div, .portfolio_items_wrapper .fullstack_items_wrapper > div, .portfolio_items_wrapper .graphics_design_items_wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.portfolio_items_wrapper .frontend_items_wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio_items_wrapper .fullstack_items_wrapper {
  position: absolute;
  display: none;
}

.portfolio_items_wrapper .graphics_design_items_wrapper {
  position: absolute;
  display: none;
}

.portfolio_items_wrapper .portfolio-item {
  height: 300px;
  width: 400px;
  margin: 20px;
}

.portfolio_items_wrapper .portfolio-item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05) !important;
          transform: scale(1.05) !important;
}

.portfolio_items_wrapper .portfolio-item img {
  width: 100%;
  height: 100%;
}

.modal-container .modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0009;
  z-index: 9999999;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal .modal-content {
  width: 50%;
  height: 70%;
}

.modal-container .modal .modal-content header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10%;
  background-color: white;
}

.modal-container .modal .modal-content header .close-modal {
  color: white;
  height: 100%;
  font-size: 30px;
  padding: 0px 20px;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal .modal-content header .close-modal:hover {
  text-shadow: 0px 0px 20px red;
  cursor: pointer;
}

.modal-container .modal .modal-content header .live {
  background-color: #13e21d;
  color: black;
  margin-left: 90px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container .modal .modal-content header .live a {
  padding: 10px 20px;
  color: #000;
  letter-spacing: 2px;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

.modal-container .modal .modal-content header i {
  font-size: 40px;
  color: black;
}

.modal-container .modal .modal-content img {
  width: 100%;
  height: 75%;
}

.modal-container .modal .modal-content .description {
  margin-top: -8px;
  padding-top: 20px;
  color: black;
  width: 100%;
  background-color: #fffbfb;
  text-align: center;
  height: auto;
  font-size: 20px;
}

.modal-container .modal .modal-content .description p {
  color: #050505;
  background: #ddd;
  font-size: 20px;
  padding: 5px 0;
  margin-bottom: 20px;
}

.modal-container .modal .modal-content .description .tech-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin-left: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal-container .modal .modal-content .description .tech-used p {
  color: black;
  font-size: 20px;
  background: none;
}

.modal-container .modal .modal-content .description .tech-used div {
  width: 90px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  background-color: #ddd;
  color: #000;
}

.modal-container .graphics-design .modal-content {
  width: 60%;
  height: 90%;
}

.modal-container .graphics-design .modal-content header {
  height: 10%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-container .graphics-design .modal-content header .close-modal {
  font-size: 30px;
}

.modal-container .graphics-design .modal-content img {
  height: 90%;
}

@media (max-width: 1200px) {
  .modal-container .modal .modal-content {
    width: 90%;
  }
  .modal-container .modal .modal-content img {
    height: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.alert {
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  z-index: 999999;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
}

.alert-success {
  background: #4BB543;
}

.alert-danger {
  background: #fe461d;
}

.line-container {
  width: 100%;
}

.line-container .line {
  background-color: #000;
  border-radius: 20%;
  height: 3px;
  width: 100px;
  margin: auto;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #eee;
  color: #fff;
  padding: 90px 0 0 0;
}

.contact .line-container .line {
  background: black;
}

.contact .title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2rem;
  color: #000;
  font-weight: 400;
}

.contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding: 20px 0;
}

.contact .contact-wrapper iframe {
  margin: 20px;
  width: 45%;
}

.contact .contact-wrapper form {
  margin: 20px;
  background: #fff;
  padding: 50px;
  color: #000;
  width: 40%;
}

.contact .contact-wrapper form input {
  width: 100%;
}

.contact .contact-wrapper form .title {
  font-size: 30px;
}

.contact .contact-wrapper form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.contact .contact-wrapper form fieldset label {
  font-size: 16px;
}

.contact .contact-wrapper form textarea {
  width: 100%;
}

.contact .contact-wrapper form button {
  background: #0093c0;
  color: fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.contact .email-and-social-wrapper {
  background: #000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.contact .email-and-social-wrapper .email {
  letter-spacing: 2px;
  margin: 30px 0px;
  width: 100%;
  text-align: center;
}

.contact .email-and-social-wrapper .social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
}

.contact .email-and-social-wrapper .social-media-icons i {
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 830px) {
  .contact-wrapper iframe {
    width: 100% !important;
  }
  .contact-wrapper form {
    width: 100% !important;
  }
}

footer {
  background-color: #0e0e0e;
  color: #fff;
  height: 90px;
  z-index: 999999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .title {
  opacity: 0.5;
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */